 a{
    padding: 30px;
    color: yellow;
 }
.divv
{
margin-top: 20px;
margin-left: 35%;
margin-right: 15%;

}
body
{
    background-repeat:no-repeat;

}
.divm{
    margin-left: 30%;
    margin-right: 70%;
    width: 30%;

}
